.bordle {
    position: absolute;
    cursor: move;
    color: black;
    max-width: 215px;
    padding: 60px;
    user-select: none;
    border: 10px solid pink;
    border-radius: 100px;
    text-align: center;

}

.bordle a {
    color: pink;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
}

.back {
    margin: auto;
    padding-top: 1em;
    width: 100%;
    font-size: 250px;
    color: #2e303d;
    font-weight: 900;
    text-align: center;
}
