.header {
    position: relative;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    background-color: #282a36;
    font-weight: bold;
    overflow: hidden;
    border-bottom: 1px solid #383a59;
    height: 3em;
}

.nav {
    list-style-type: none;
}

.nav li {
    float: left;
}

.nav li a {
    color: #ccccca;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 20px;
}

.nav .active a {
    text-decoration: underline;
}

.nav li:first-child a {
    color: #50fa7b;
    font-size: 30px;
    line-height: 0.7;
}

.contact {
    padding: 20px;
    float: right;
}

.contact a {
    text-decoration: none;
    color: #ffb86c;
}



