.page {
    margin: auto;
    width: 80%;
}

.intro {
    padding: 40px;
    margin-top: 40px;
    color: #f8f8f2;  
    background: #44475a;
    line-height: 150%;
}

.head {
    color: #ff79c6;
    background: inherit;
    margin-top: 40px;
    font-size: 50px;
}

.featured {
    margin-top: 40px;
}

.head2 {
    color: #bd93f9;
    font-size: 30px;
    display: inline-block; 
    padding-bottom: 20px;
}

.featured ul {
    list-style-type: none;
    display: block;
}

.featured li {
    border: 5px;
}

.featured .link {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #383a59;
    width: 100%;
    margin-bottom: 10px;
    color: #f8f8f2;  
    background: #44475a;
    transition: all .3s ease;
    display: inline-block;
}

.featured .link:hover  {
    background: #6272a4;
    display: inline-block;
}


.featured .link a {
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;  
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    background: inherit;
}

